<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Questions</title>
    <link rel="stylesheet" href="css/manage-courses.css">
</head>
<body>
    <% if (user) { %>
        <div id="main-container">
            <div id="top-menu">
                <div id="profile-logout">
                    <button id="profile-btn">Profile</button>
                    <a id="logout-a" href="/log-out">Logout</a>
                </div>

                <div id="profile-options" class="hidden">
                    <a href="#">Manage account</a>
                    <a href="/questions">Enter questions</a>
                </div>
            </div>
            <div id="content-container">
                <% programsWithCourses.forEach(program => { %>
                    <div class="program-item">
                        <h1><%= program.program_name %></h1>
                        <% program.courses.forEach(course => { %>
                            <div class="course-item" id="course-item-<%= course.id %>">
                                <div class="course-name">
                                    <span id="course-name-<%= course.id %>"><%= course.course_name %></span>
                                    <input type="text" id="edit-course-name-<%= course.id %>" class="hidden" value="<%= course.course_name %>">
                                    <button class="edit-btn" onclick="editCourseName('<%= course.id %>')">Edit</button>
                                    <button class="save-btn hidden" id="save-btn-<%= course.id %>" onclick="saveCourseName('<%= course.id %>')">Save</button>
                                    <button class="cancel-btn hidden" id="cancel-btn-<%= course.id %>" onclick="cancelEdit('<%= course.id %>')">Cancel</button>
                                </div>
                                <div class="course-actions">
                                    <button class="edit-btn" onclick="editCourse('<%= course.id %>')">Members</button>
                                    <button class="delete-btn" onclick="deleteCourse('<%= course.id %>')">Delete</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } else { %>
        <div id="login-hint">
            Please <a href="/log-in-prof">log in</a> to view this page!
        </div>
    <% } %>

    <!-- Modal for displaying course members -->
    <div id="members-modal" class="modal">
        <div class="modal-content">
            <span id="modal-close-btn" class="close">&times;</span>
            <h2>Course Members</h2>
            <ul id="members-list"></ul>
        </div>
    </div>

    <script src="../js/manage-courses.js"></script>
</body>
</html>
