<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style_ranking.css">
</head>

<body>
  <% if (user) {%>
    <%- include('navbar') %>
    <div class="container">
      <div class="ranking">
        <div class="ranking-header">
          <h2>Ranking Liste</h2>
        </div>
        <ul>
          <% rankingList.forEach(userItem => { %>
            <% const isCurrentUser = user.id === userItem.id; %>
            <li class="<%= isCurrentUser ? 'highlight' : '' %>">
              <span class="rank"><%= userItem.rank %>.</span>
              <div class="name-score">
                <span><%= userItem.firstname %> <%= userItem.lastname %></span>
                <span><%= userItem.score %></span>
              </div>
            </li>
          <% }) %>
        </ul>
        </div>
      </div>
    <% } else { %>
      <div id="container">
        <div id="login-hint">
          Please <a href="/"> log in</a> to view this page!
        </div>
      </div>      
    <% } %>
  <script src="js/ranking.js"></script>
</body>
</html>