<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Questions</title>
    <link rel="stylesheet" href="css/style_manage_questions.css">
</head>

<body>
    <% if (user) { %>
        <%- include('navbar-prof') %>
            <div id="main-container">
                <div id="content-container">
                    <h1>Question Table</h1>
                    <table class="rwd-table">
                        <thead>
                            <tr>
                                <th class="hidden">ID</th>
                                <th>Question Type</th>
                                <th>Question</th>
                                <th>Answer A</th>
                                <th>Answer B</th>
                                <th>Answer C</th>
                                <th>Answer D</th>
                                <th>Correct Answer</th>
                                <th>Program</th>
                                <th>Course</th>
                                <th>Lection</th>
                                <th>Position</th>
                                <th>Image URL</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < questions.length; i++) { %>
                                <tr>
                                    <td class="hidden" data-label="ID">
                                        <%= questions[i].question_id %>
                                    </td>
                                    <td data-label="Question Type">
                                        <%= questions[i].question_type %>
                                    </td>
                                    <td data-label="Question">
                                        <%= questions[i].frage %>
                                    </td>
                                    <td data-label="Answer A">
                                        <%= questions[i].answer_a %>
                                    </td>
                                    <td data-label="Answer B">
                                        <%= questions[i].answer_b %>
                                    </td>
                                    <td data-label="Answer C">
                                        <%= questions[i].answer_c %>
                                    </td>
                                    <td data-label="Answer D">
                                        <%= questions[i].answer_d %>
                                    </td>
                                    <td data-label="Correct Answer">
                                        <%= questions[i].correct_answer %>
                                    </td>
                                    <td data-label="Program">
                                        <%= questions[i].program_name %>
                                    </td>
                                    <td data-label="Course">
                                        <%= questions[i].course_name %>
                                    </td>
                                    <td data-label="Lection">
                                        <%= questions[i].lection_name %>
                                    </td>
                                    <td data-label="Position">
                                        <%= questions[i].position %>
                                    </td>
                                    <td data-label="Image">
                                        <% if(questions[i].image_url) { %>
                                            <p class="store-url hidden">
                                                <%=questions[i].image_url%>
                                            </p>
                                            <img class="row-image" src=<%=questions[i].image_url%>
                                            alt="Image" style="width: 100px;">
                                            <% } else { %>
                                                <p class="store-url hidden">N/A</p>
                                                <img class="row-image hidden" src="" alt="Image" style="width: 100px;">
                                                <% } %>
                                    </td>
                                    <td data-label="Actions">
                                        <button class="edit-btn">⋮</button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div id="edit-modal" class="modal hidden">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h2>Edit Question</h2>
                    <p id="id-container" class="hidden"></p>
                    <form id="edit-form">
                        <div class="form-group">
                            <label for="edit-question-type">Question Type</label>
                            <select id="edit-question-type">
                                <option value="multiple-choice-image">Image Multiple Choice</option>
                                <option value="multiple-choice">Multiple Choice</option>
                                <option value="image-description">Image Description</option>
                                <option value="text-description">Text Description</option>
                            </select>
                        </div>
                        <div class="form-group" id="questionModal">
                            <label for="edit-question">Question</label>
                            <input type="text" id="edit-question">
                        </div>
                        <div class="form-group" id="answerAModal">
                            <label for="edit-answer-a">Answer A</label>
                            <input type="text" id="edit-answer-a">
                        </div>
                        <div class="form-group" id="answerBModal">
                            <label for="edit-answer-b">Answer B</label>
                            <input type="text" id="edit-answer-b">
                        </div>
                        <div class="form-group" id="answerCModal">
                            <label for="edit-answer-c">Answer C</label>
                            <input type="text" id="edit-answer-c">
                        </div>
                        <div class="form-group" id="answerDModal">
                            <label for="edit-answer-d">Answer D</label>
                            <input type="text" id="edit-answer-d">
                        </div>
                        <div class="form-group" id="correctAnswerModal">
                            <label for="edit-correct-answer">Correct Answer</label>
                            <input type="text" id="edit-correct-answer">
                        </div>

                        <!-- Non-editable fields -->
                        <div class="form-group">
                            <label>Program</label>
                            <p id="edit-program"></p>
                        </div>
                        <div class="form-group">
                            <label>Course</label>
                            <p id="edit-course"></p>
                        </div>
                        <div class="form-group">
                            <label>Lection</label>
                            <p id="edit-lection"></p>
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <p id="edit-position"></p>
                        </div>


                        <div class="form-group" id="image-field-modal">
                            <p id="modal-image-header">Image</p>
                            <div id="img-modal-div">
                                <img id="img-modal" src="" alt="">
                            </div>

                            <div class="form-group" id="image-upload-modal">
                                <label id="upload-command" for="newImageUpload">Upload New Image: </label>
                                <input type="file" id="newImageUpload" accept="image/*">
                                <div id="uploadDiv">
                                    <div>
                                        <h4>Drag & Drop image file or Browse</h4>
                                        <p> Supports: JPEG, PNG, GIF, TIFF</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <button type="button" id="save-btn">Save</button>
                            <button type="button" id="cancel-btn">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } else { %>
                <%- include('login-hint') %>
                <% } %>
                    <script src="../js/manage_question.js"></script>
                    <script src="../js/send_change.js"></script>
</body>

</html>